* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: #000000;
}

.main_new_cards .right .cards-section .card_main_rotate {
    will-change: transform;
    transform-style: preserve-3d;
    transform: translate3d(0px, 8%, 0px) rotateZ(-31deg);
    transition: transform 0.05s linear;
}

.main_new_cards .right .cards-section .card_main_rotate .card2 {
    transform: translate(11%, -7%) rotate(14deg) translateX(20%);
    border-radius: 24px;
    width: 684px;
    background-color: #262626e0;
    margin-bottom: 100px;
    height: 388px;
}

.main_new_cards .right .cards-section .card_main_rotate .card3 {
    border-radius: 24px;
    transform: translateX(10%);
    width: 684px;
    background-color: #262626e0;
    margin-bottom: 100px;
    height: 388px;
}

.main_new_cards .right .cards-section .card_main_rotate .card4 {
    transform: translate(11%, 7%) rotate(-14deg) translateX(20%);
    width: 684px;
    margin-bottom: 100px;
    background-color: #262626e0;
    height: 388px;
    border-radius: 24px;
}

.main_new_cards .right .cards-section .card_main_rotate .card2 img,
.main_new_cards .right .cards-section .card_main_rotate .card3 img,
.main_new_cards .right .cards-section .card_main_rotate .card4 img {
    width: 684px;
    height: 388px;
    transition: opacity 0.15s linear;
}

.main_new_cards {
    display: flex;
    overflow: hidden;
    margin-top: 500px;
    margin-bottom: 100px;
}

.main_new_cards .right {
    width: 50%;
    background-color: #171717;
    height: 1414px;
}

.main_new_cards .left {
    width: 50%;
    height: 1414px;
    display: flex;
    flex-direction: column;
}

.main_new_cards .left .card2 h2,
.main_new_cards .left .card3 h2,
.main_new_cards .left .card4 h2 {
    color: #fff;
    font-size: 3.19444rem;
    font-weight: 500;
    line-height: 117%;
    margin-bottom: 20px;
    margin-left: 100px;
}

.main_new_cards .left .card2 .first_line,
.main_new_cards .left .card2 .second_line,
.main_new_cards .left .card3 .first_line,
.main_new_cards .left .card3 .second_line,
.main_new_cards .left .card4 .first_line,
.main_new_cards .left .card4 .second_line {
    color: #737373;
    font-size: 1.25rem;
    margin-bottom: 20px;
    margin-left: 100px;
    line-height: 155%;
}

.main_new_cards .left .card2 .second_line .white,
.main_new_cards .left .card3 .second_line .white,
.main_new_cards .left .card4 .second_line .white {
    color: #fff;
}

.main_new_cards .left .card2 {
    margin-top: 50px;
    width: 600px;
}

.main_new_cards .left .card3 {
    margin-top: 180px;
    width: 600px;
}

.main_new_cards .left .card4 {
    margin-top: 275px;
    width: 600px;
}